<!doctype html>
<html lang="zh">

<head>
    <title>Liwen个人博客</title>
    <meta name="keywords" content="礼炆说"/>
    <meta name="description" content="礼炆说"/>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="./css/blog.css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" charset="utf-8" src="./js/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="./js/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({
            "display": {
                "superSample": 2,
                "width": 280,
                "height": 420,
                "position": "left",
                "hOffset": 10,
                "vOffset": 10
            }
        });
    </script>
</head>

<body class="home blog custom-background round-avatars">
<div class="Yarn_Background"
     style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/backgroundimage.jpg);"></div>
<form class="js-search search-form search-form--modal" method="get" action="/search.html" role="search">
    <div class="search-form__inner">
        <div>
            <div id="search-container" class="ajax_search">
                <form method="get" id="searchform" action="">
                    <div class="filter_container"><input type="text" value="" autocomplete="off"
                                                         placeholder="Type then select or enter" name="s"
                                                         id="search-input"/>
                        <ul id="search_filtered" class="search_filtered"></ul>
                    </div>
                    <input type="submit" name="submit" id="searchsubmit" class="searchsubmit" value=""/>
                </form>
            </div>
        </div>
    </div>
</form>
<div class="navi" data-aos="fade-down">
    <div class="bt-nav">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <div class="navbar animated fadeInRight">
        <div class="inner">
            <nav id="site-navigation" class="main-navigation">
                <div id="main-menu" class="main-menu-container">
                    <div class="menu-menu-container">
                        <ul id="primary-menu" class="menu">
                            <li id="menu-item-17"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
                                <a href="/">首页</a>
                            </li>
                            <li id="menu-item-173"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                                <a href="/journal.html">日志</a>
                            </li>
                            <li id="menu-item-78"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                                <a href="/album.html">相册</a>
                            </li>
                            <li id="menu-item-57"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                <a href="/leave_word.html">留言</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="hebin" data-aos="fade-down">
    <i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand">
    <div class="site-branding text-center">
        <a href="/">
            <figure>
                <img class="custom-logo avatar"
                     src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/omikron.png"/>
            </figure>
        </a>
        <h3 class="blog-description"><p>Liwen's Blog</p></h3>
    </div>
    <div class="decor-part">
        <div id="particles-js"></div>
    </div>
    <div class="animation-header">
        <div class="decor-wrapper">
            <svg id="header-decor" class="decor bottom" xmlns="http://www.w3.org/2000/svg" version="1.1"
                 viewBox="0 0 100 100" preserveAspectRatio="none">
                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
                <path class="medium left" d="M0 100 L50 50 L0 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="medium right" d="M100 100 L50 50 L100 33.3" fill="rgba(255,255,255, .3)"></path>
                <path class="small left" d="M0 100 L50 50 L0 66.6" fill="rgba(255,255,255, .5)"></path>
                <path class="small right" d="M100 100 L50 50 L100 66.6" fill="rgba(255,255,255, .5)"></path>
                <path d="M0 99.9 L50 49.9 L100 99.9 L0 99.9" fill="#f9f9f9"></path>
                <path d="M48 52 L50 49 L52 52 L48 52" fill="#f9f9f9"></path>
            </svg>
        </div>
    </div>
</header>

<div id="main" class="content">
    <div class="container">
        <article itemscope="itemscope">
            <div class="posts-list js-posts">
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="status_list_item icon_kyubo">
                        <div class="status_user"
                             style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/b0ce3f3cde0c084.jpeg);">
                            <div class="status_section">
                                <a href="/detail.html" class="status_btn">欢迎欢迎,180°鞠躬</a>
                                <p class="section_p">
                                    我第一个博客，欢迎大家参观</br>
                                    太清遥在翠微间，疲马缁尘似火煎。
                                    万里云浮曝白日，满楼蝉唱噪晴川。</br>
                                    稻粮谋在奈何尔，名利心高聊复焉。
                                    他日会须登玉阁，与君结此海山缘。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="postnormal review ">
                        <div class="post-container review-item">
                            <div class="row review-item-wrapper">
                                <div class="col-sm-3">
                                    <a rel="nofollow" href="/detail.html">
                                        <div class="review-item-img"
                                             style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/diego-ph-249471-2-800x1000.jpg);"></div>
                                    </a>
                                </div>
                                <div class="col-sm-9 flex-xs-middle">
                                    <div class="review-item-title">
                                        <a href="/detail.html" rel="bookmark">点点总结</a>
                                    </div>
                                    <div class="review-item-creator"><b>发布日期：</b>2019-5-20</div>
                                    <span class="review-item-info"><b>总浏览量：</b>1 reads</span>
                                </div>
                            </div>
                            <div class="review-bg-wrapper">
                                <div class="bg-blur"
                                     style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/diego-ph-249471-2-800x1000.jpg);"></div>
                            </div>
                        </div>
                        <div class="post-container">
                            <div class="entry-content">
                                &nbsp;&nbsp;&nbsp;&nbsp;最近公司全是一些小的BUG问题，分分钟就解决了，就想着找点什么做做，思来想去干脆自己搞个博客试试，平时看的这么多技术知识，总是过一段就忘，这可不行！
                                做一个博客记录下来，一个是做的过程尽量多集成一些技术，锻炼锻炼，一个是做好模板每次都把看到的好的知识点记录下来，方便查阅，最关键是这么做，有逼格啊！
                                丰富一下自己的这点点虚荣心。费这么大劲，现在总算把1.0版弄上去了。<p style="color: #9D4F00"> Celebrate a Victory!</p>
                            </div>
                            <div class="post-footer">
                                <a class="gaz-btn primary" href="/detail.html">READ MORE</a>
                                <span class="total-comments-on-post pull-right"><a
                                        href="/detail.html">No Comments</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="status_list_item icon_kyubo">
                        <div class="status_user"
                             style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/b0ce3f3cde0c084.jpeg);">
                            <div class="status_section">
                                <a href="/detail.html" class="status_btn">字体模块测试</a>
                                <p class="section_p">测试博文的文章模板，人工智能（Aritificial Intelligence，
                                    AI）是一门融合了计算机科学、统学、脑神经学和社会科学的前沿综合性学科。它的目标是希望计算机拥有像人一样的智力能力，可以替代人类实现识别、认知、分类和决策等多种功能。 </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list js-gallery" data-aos="fade-up">
                    <div class="post-album">
                        <div class="row content">
                            <div class="bg"
                                 style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%286%29.jpg);"></div>
                            <div class="contentext flex-xs-middle">
                                <div class="album-title">
                                    <a href="/detail.html">重构图像样式测试</a>
                                </div>
                                <h5 class="review-item-creator"><b>发布日期：</b>2019-5-13</h5>
                                <div class="album-content">
                                    这是一个图像样式，为了测试后期相册功能，必须写五十左右的文字作为这个文本框的空白填充，不写也是可以的，强迫症不能容忍空白。
                                </div>
                            </div>
                            <div class="album-thumb-width flex-xs-middle">
                                <div class="row album-thumb no-gutter">
                                    <div class="col-xs-4"><img class="thumb"
                                                               src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%281%29.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb"
                                                               src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%285%29.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb"
                                                               src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%282%29.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb"
                                                               src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%283%29.jpg"/>
                                    </div>
                                    <div class="col-xs-4"><img class="thumb"
                                                               src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/girl%20%284%29.jpg"/>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/detail.html">5 pics</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post-layout-list" data-aos="fade-up">
                    <div class="postnormal review ">
                        <div class="post-container review-item">
                            <div class="row review-item-wrapper">
                                <div class="col-sm-3">
                                    <a rel="nofollow" href="/detail.html">
                                        <div class="review-item-img"
                                             style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/47fb3c_9afed6c800x450.jpg);">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-9 flex-xs-middle">
                                    <div class="review-item-title">
                                        <a href="/detail.html" rel="bookmark">给大家介绍一下</a>
                                    </div>
                                    <div class="review-item-creator"><b>发布日期：</b>2018-04-02</div>
                                    <span class="review-item-info"><b>总浏览量：</b>1 reads</span>
                                </div>
                            </div>
                            <div class="review-bg-wrapper">
                                <div class="bg-blur"
                                     style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/47fb3c_9afed6c800x450.jpg);"></div>
                            </div>
                        </div>
                        <div class="post-container">
                            <div class="entry-content">
                                &nbsp;&nbsp;有一人玉树临风英俊非凡博学多才见多识广才高八斗学富五车文武双全雄韬伟略，又有一人谈吐不凡言简意赅远见卓识出口成章，常能明察秋毫力排众议力挽狂澜，并且视死如归舍己为人大公无私，还有一人掌法盖世剑法无双暗器第一法术无敌，因此超凡脱俗，亦仙亦圣，每一招使出都惊涛骇浪雷霆万钧惊心动魄横扫千军惊天动地，号称十全十美无懈可击无与伦比，你知道他们都是谁嘛?
                                你知道他们都长什么样吗? 看我，看看我，你看我像那种人吗?
                            </div>
                            <div class="post-footer">
                                <a class="gaz-btn primary" href="/detail.html">READ MORE</a>
                                <span class="total-comments-on-post pull-right"><a
                                        href="/detail.html">No Comments</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination js-pagination">
                <div class="js-next pagination__load">
                    <a href="/"><i class="iconfont">&#xe605;</i></a>
                </div>
            </div>
        </article>
    </div>
</div>

<footer id="footer" class="overlay animated from-top">
    <div class="decor-wrapper">
        <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100"
             preserveAspectRatio="none">
            <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba(255,255,255, .1)"></path>
            <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba(255,255,255, .1)"></path>
            <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba(255,255,255, .3)"></path>
            <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba(255,255,255, .5)"></path>
            <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba(255,255,255, .5)"></path>
            <path d="M0 0 L50 50 L100 0 L0 0" fill="#f9f9f9"></path>
            <path d="M48 48 L50 51 L52 48 L48 48" fill="#f9f9f9"></path>
        </svg>
    </div>
    <div class="socialize" data-aos="zoom-in">
        <li>
            <a id="weibo" title="weibo" class="socialicon"><i class="iconfont" aria-hidden="true">&#xe601;</i></a>
        </li>
        <li class="wechat">
            <a id="wechatimg" class="socialicon"><i class="iconfont">&#xe609;</i></a>
            <div class="wechatimg"><img src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/erweima.jpg"></div>
        </li>
        <li>
            <a id="tencent" title="QQ" class="socialicon"
               href="tencent://message/?uin=470576351&Site=http://vps.shuidazhe.com&Menu=yes" target="_blank"><i
                    class="iconfont" aria-hidden="true">&#xe616;</i></a>
        </li>
    </div>
    <div class="cr">
        Copyright&copy;2019. Design by Liwen
        <br/>
        <a href="/contact.html" style="color: #7B7B7B">以上内容完全是复制粘贴，本人并不明白其意思，故本人不对以上内容负法律责任，请不要跨省追捕。要详查请联系网站站长删除，谢谢</a>
    </div>
    <script type="text/javascript" src="./js/aos.js"></script>
    <script type="text/javascript" src="./js/blog.js"></script>
    <script type="text/javascript" src="./js/plugins.js"></script>
    <script type="text/javascript" src="./js/particles.js"></script>
</footer>
</body>
</html>