<!DOCTYPE HTML>
<html>
<head>
    <title>免责声明</title>
    <link rel="icon" type="image/x-icon" href="https://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/favicon.ico"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="https://sweet-girl-static.oss-cn-beijing.aliyuncs.com/jquery.min.js"></script>
    <meta name="author" content=""/>
    <meta name="keywords" content="免责声明">
    <meta name="description" content="免责声明">
    <link rel="stylesheet" href="./css/contact.css">
</head>

<body class="bg">
<div class="main">
    <div class="content">
        <div class="middle-center">
            <div class="wrap-info">
                <h3 class="tip-title">免责声明</h3>
                <p class="txt-info">本网站有部分内容来自互联网，如无意中侵犯了哪个媒体、公司、企业或个人等的知识产权，请及时通知我，本网站将在第一时间及时删除。</p>
                <a href="tencent://message/?uin=470576351&Site=http://vps.shuidazhe.com&Menu=yes"
                   class="btn btn-big btn-blue">联系站长</a>
                <br>
                <a href="/">返回</a>
            </div>
            <div class="wrap-animate">
                <div class="animate02">
                    <div class="tip-style an-tip01">
                        <p>
                            if (contact) {
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;Crash--;
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;ANR--;
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;DAU++;
                            <br> &nbsp;&nbsp;&nbsp;&nbsp;Happy++;
                            <br> }
                        </p>
                    </div>
                    <div id="svganimation2_hype_container"
                         style="margin: auto; position: relative; width: 640px; height: 480px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform-style: flat;"
                         aria-live="polite" hyp_dn="svg_animation_2" aria-hidden="false">
                        <script type="text/javascript" charset="utf-8"
                                src="./js/svganimation2_hype_generated_script.js"></script>
                        <div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>
                        <div class="HYPE_scene" id="hype-scene-V8ADL9DGIUAQD7FGHCPE" hype_scene_index="0"
                             aria-hidden="false"
                             aria-flowto="hype-obj-JKV49KJKQK4NBMUR5E5L"
                             style="background-color: rgba(255, 255, 255, 0); display: block; overflow: hidden; position: absolute; width: 640px; top: 0px; left: 0px; height: 480px; transform-origin: 50% 50% 0px; z-index: 1; opacity: 1;">
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 40;">
                                <div class="HYPE_element" id="hype-obj-JKV49KJKQK4NBMUR5E5L"
                                     aria-flowto="hype-obj-86LNTTNDFXAJ3PXHR9YU"
                                     style="pointer-events: auto; position: absolute; background: url('./images/chair.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 40; opacity: 1; width: 81px; height: 140px; transform-origin: 50% 50% 0px; transform: translateX(237px) translateY(297px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 39;">
                                <div class="HYPE_element" id="hype-obj-86LNTTNDFXAJ3PXHR9YU"
                                     aria-flowto="hype-obj-QXA2ONB2ARK4QN52SWTE"
                                     style="pointer-events: auto; position: absolute; background: url('./images/developer.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 39; opacity: 1; width: 178px; height: 285px; transform-origin: 50% 50% 0px; transform: translateX(264px) translateY(152px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 35;">
                                <div class="HYPE_element" id="hype-obj-QXA2ONB2ARK4QN52SWTE"
                                     aria-flowto="hype-obj-BYO06Z7OBCCUO2GYBGR2"
                                     style="pointer-events: auto; position: absolute; background: url('./images/desk1.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 35; opacity: 1; width: 500px; height: 112px; transform-origin: 50% 50% 0px; transform: translateX(123px) translateY(325px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 26;">
                                <div class="HYPE_element" id="hype-obj-BYO06Z7OBCCUO2GYBGR2"
                                     aria-flowto="hype-obj-5PPT756A4DBTZMQD2TM9"
                                     style="pointer-events: auto; position: absolute; background: url('./images/lamp.svg'); overflow: visible; background-size: 100% 100%; z-index: 26; display: inline; opacity: 1; width: 88px; height: 107px; transform-origin: 50% 50% 0px; transform: translateX(512px) translateY(220px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 25;">
                                <div class="HYPE_element" id="hype-obj-5PPT756A4DBTZMQD2TM9"
                                     aria-flowto="hype-obj-FTOD9CECCY9OCMIUQTII"
                                     style="pointer-events: auto; position: absolute; background: url('./images/hamberger.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 25; opacity: 1; width: 47px; height: 38px; transform-origin: 50% 50% 0px; transform: translateX(123px) translateY(289px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 24;">
                                <div class="HYPE_element" id="hype-obj-FTOD9CECCY9OCMIUQTII"
                                     aria-flowto="hype-obj-90HY90BKS57CV6MMCBPS"
                                     style="pointer-events: auto; position: absolute; background: url('./images/chips.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 24; opacity: 1; width: 41px; height: 47px; transform-origin: 50% 50% 0px; transform: translateX(194px) translateY(280px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 23;">
                                <div class="HYPE_element" id="hype-obj-90HY90BKS57CV6MMCBPS"
                                     aria-flowto="hype-obj-RY72E1DA39MT9JF0C4Z5"
                                     style="pointer-events: auto; position: absolute; background: url('./images/coffee.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 23; opacity: 1; width: 42px; height: 60px; transform-origin: 50% 50% 0px; transform: translateX(156px) translateY(267px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 22;">
                                <div class="HYPE_element" id="hype-obj-RY72E1DA39MT9JF0C4Z5"
                                     aria-flowto="hype-obj-CT0TX570E43BGU5RH3M6"
                                     style="pointer-events: auto; position: absolute; background: url('./images/ironman.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 22; opacity: 1; width: 34px; height: 35px; transform-origin: 50% 50% 0px; transform: translateX(475px) translateY(170px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 21;">
                                <div class="HYPE_element" id="hype-obj-CT0TX570E43BGU5RH3M6"
                                     aria-flowto="hype-obj-ILVNWLWVE7691NXYNA6Q"
                                     style="pointer-events: auto; position: absolute; background: url('./images/computer1.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 21; opacity: 1; width: 189px; height: 161px; transform-origin: 50% 50% 0px; transform: translateX(202px) translateY(172px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 20;">
                                <div class="HYPE_element" id="hype-obj-ILVNWLWVE7691NXYNA6Q"
                                     aria-flowto="hype-obj-U7GA8VZIUO8Z3OE5VP74"
                                     style="pointer-events: auto; position: absolute; background: url('./images/monitor1.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 20; opacity: 1; width: 144px; height: 129px; transform-origin: 50% 50% 0px; transform: translateX(397px) translateY(198px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 19;">
                                <div class="HYPE_element" id="hype-obj-U7GA8VZIUO8Z3OE5VP74"
                                     style="pointer-events: auto; position: absolute; background: url('./images/mouse.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 19; opacity: 1; width: 39px; height: 12px; transform-origin: 50% 50% 0px; transform: translateX(387px) translateY(315px) rotateY(0deg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animate03">
                    <div class="tip-style an-tip02">
                        <p>
                            我们不保证服务不会中断，对服务的及时性、安全性、准确性也都不作保证!
                        </p>
                    </div>
                    <div id="svganimation3_hype_container"
                         style="margin: auto; position: relative; width: 420px; height: 480px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform-style: flat;"
                         aria-live="polite" hyp_dn="svg_animation_3" aria-hidden="false">
                        <script type="text/javascript" charset="utf-8"
                                src="./js/svganimation3_hype_generated_script.js"></script>
                        <div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>
                        <div class="HYPE_scene" id="hype-scene-AAYQ4PQA1N6110893RPL" hype_scene_index="0"
                             aria-hidden="false"
                             aria-flowto="hype-obj-M1USQGT72WH0B28VG6MT"
                             style="background-color: rgba(255, 255, 255, 0); display: block; overflow: hidden; position: absolute; width: 420px; top: 0px; left: 0px; height: 480px; transform-origin: 50% 50% 0px; z-index: 1; opacity: 1;">
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 36;">
                                <div class="HYPE_element" id="hype-obj-M1USQGT72WH0B28VG6MT"
                                     aria-flowto="hype-obj-4SHUVFYNFJQ42YAETPVY"
                                     style="pointer-events: auto; position: absolute; background: url('./images/desk2.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 36; opacity: 1; width: 380px; height: 112px; transform-origin: 50% 50% 0px; transform: translateX(19px) translateY(325px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 33;">
                                <div class="HYPE_element" id="hype-obj-4SHUVFYNFJQ42YAETPVY"
                                     aria-flowto="hype-obj-OLEHVR3QAN3D56XCZIQ3"
                                     style="pointer-events: auto; position: absolute; background: url('./images/plant1.svg') no-repeat; overflow: visible; transform-origin: 50% 50% 0px; transform: translateX(287px) translateY(277.5px) rotateY(0deg); background-size: 100% 100%; z-index: 33; display: inline; opacity: 1; width: 38px; height: 49px;"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 32;">
                                <div class="HYPE_element" id="hype-obj-OLEHVR3QAN3D56XCZIQ3"
                                     aria-flowto="hype-obj-0V7SIRYD9EIXWH8FYDT1"
                                     style="pointer-events: auto; position: absolute; background: url('./images/labtop.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 32; opacity: 1; width: 78px; height: 81px; transform-origin: 50% 50% 0px; transform: translateX(39px) translateY(254px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 31;">
                                <div class="HYPE_element" id="hype-obj-0V7SIRYD9EIXWH8FYDT1"
                                     aria-flowto="hype-obj-YA96RLRF9N840G2NT42C"
                                     style="pointer-events: auto; position: absolute; background: url('./images/pdmhand.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 31; opacity: 1; width: 25px; height: 20px; transform-origin: 50% 50% 0px; transform: translateX(225px) translateY(196px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 30;">
                                <div class="HYPE_element" id="hype-obj-YA96RLRF9N840G2NT42C"
                                     aria-flowto="hype-obj-H1OW6MO2Y9B9318YCZ9S"
                                     style="pointer-events: auto; position: absolute; background: url('./images/monitor2.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 30; opacity: 1; width: 171px; height: 124px; transform-origin: 50% 50% 0px; transform: translateX(121px) translateY(205px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 29;">
                                <div class="HYPE_element" id="hype-obj-H1OW6MO2Y9B9318YCZ9S"
                                     aria-flowto="hype-obj-ITJGJHR5479AJD4IBP0T"
                                     style="pointer-events: auto; position: absolute; background: url('./images/pdm.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 29; opacity: 1; width: 135px; height: 339px; transform-origin: 50% 50% 0px; transform: translateX(244px) translateY(98px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 28;">
                                <div class="HYPE_element" id="hype-obj-ITJGJHR5479AJD4IBP0T"
                                     aria-flowto="hype-obj-2QNMCLZ69BJPHKZ1K2L4"
                                     style="pointer-events: auto; position: absolute; background: url('./images/computer2.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 28; opacity: 1; width: 40px; height: 80px; transform-origin: 50% 50% 0px; transform: translateX(106px) translateY(357px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 27;">
                                <div class="HYPE_element" id="hype-obj-2QNMCLZ69BJPHKZ1K2L4"
                                     style="pointer-events: auto; position: absolute; background: url('./images/line.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 27; opacity: 1; width: 80px; height: 100px; transform-origin: 50% 50% 0px; transform: translateX(113px) translateY(297px) rotateY(0deg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="animate04">
                    <div class="tip-style an-tip03">
                        <p>
                            本网站不保证所有信息、文本、图形、链接及其它项目的绝对准确性和完整性，内容仅供访问者使用参照
                        </p>
                    </div>
                    <div id="svganimation4_hype_container"
                         style="margin: auto; position: relative; width: 540px; height: 480px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform-style: flat;"
                         aria-live="polite" hyp_dn="svg_animation_4" aria-hidden="false">
                        <script type="text/javascript" charset="utf-8"
                                src="./js/svganimation4_hype_generated_script.js"></script>
                        <div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>
                        <div class="HYPE_scene" id="hype-scene-OPLB7U3SO5TW1BL47Y6W" hype_scene_index="0"
                             aria-hidden="false"
                             aria-flowto="hype-obj-70X4TRM7V7TAQJVNRKRW"
                             style="background-color: rgba(255, 255, 255, 0); display: block; overflow: hidden; position: absolute; width: 540px; top: 0px; left: 0px; height: 480px; transform-origin: 50% 50% 0px; z-index: 1; opacity: 1;">
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 38;">
                                <div class="HYPE_element" id="hype-obj-70X4TRM7V7TAQJVNRKRW"
                                     aria-flowto="hype-obj-88IOVZ5T06FJKS1XEMIG"
                                     style="pointer-events: auto; position: absolute; background: url('./images/po.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 38; opacity: 1; width: 106px; height: 315px; transform-origin: 50% 50% 0px; transform: translateX(257px) translateY(122px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 37;">
                                <div class="HYPE_element" id="hype-obj-88IOVZ5T06FJKS1XEMIG"
                                     aria-flowto="hype-obj-4WN57ZY88NZCI52RFKJO"
                                     style="pointer-events: auto; position: absolute; background: url('./images/desk3.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 37; opacity: 1; width: 400px; height: 112px; transform-origin: 50% 50% 0px; transform: translateX(12px) translateY(325px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 18;">
                                <div class="HYPE_element" id="hype-obj-4WN57ZY88NZCI52RFKJO"
                                     aria-flowto="hype-obj-SEEF8YH8D2QFIO4ZJSJR"
                                     style="pointer-events: auto; position: absolute; background: url('./images/chart.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 18; opacity: 1; width: 51px; height: 91px; transform-origin: 50% 50% 0px; transform: translateX(92px) translateY(236px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 17;">
                                <div class="HYPE_element" id="hype-obj-SEEF8YH8D2QFIO4ZJSJR"
                                     aria-flowto="hype-obj-UL2IOUNZU8YDP2TQD0A1"
                                     style="pointer-events: auto; position: absolute; background: url('./images/book1.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 17; opacity: 1; width: 40px; height: 66px; transform-origin: 50% 50% 0px; transform: translateX(49px) translateY(261px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 16;">
                                <div class="HYPE_element" id="hype-obj-UL2IOUNZU8YDP2TQD0A1"
                                     aria-flowto="hype-obj-1F32LVZIKRSI8ADL8LVS"
                                     style="pointer-events: auto; position: absolute; background: url('./images/pen.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 16; opacity: 1; width: 27px; height: 55px; transform-origin: 50% 50% 0px; transform: translateX(17px) translateY(272px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 15;">
                                <div class="HYPE_element" id="hype-obj-1F32LVZIKRSI8ADL8LVS"
                                     aria-flowto="hype-obj-7FO6XARFUDK5HDZ9TTGR"
                                     style="pointer-events: auto; position: absolute; background: url('./images/computer3.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 15; opacity: 1; width: 189px; height: 161px; transform-origin: 50% 50% 0px; transform: translateX(109px) translateY(172px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 14;">
                                <div class="HYPE_element" id="hype-obj-7FO6XARFUDK5HDZ9TTGR"
                                     style="pointer-events: auto; position: absolute; background: url('./images/cup.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 14; opacity: 1; width: 28px; height: 45px; transform-origin: 50% 50% 0px; transform: translateX(356px) translateY(282px) rotateY(0deg);"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="animate-bottom">
                    <div id="svganimation1_hype_container"
                         style="margin: auto; position: relative; width: 1500px; height: 480px; overflow: hidden; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform-style: flat;"
                         aria-live="polite" hyp_dn="svg_animation_1" aria-hidden="false">
                        <script type="text/javascript" charset="utf-8"
                                src="./js/svganimation1_hype_generated_script.js"></script>
                        <div id="HYPE_persistent_symbols" aria-hidden="true" style="display: none;"></div>
                        <div class="HYPE_scene" id="hype-scene-01UTZ8ZR0SPHN6GCQZRO" hype_scene_index="0"
                             aria-hidden="false"
                             aria-flowto="hype-obj-ZDG68YG0BW4GPYIL6COT"
                             style="background-color: rgba(255, 255, 255, 0); display: block; overflow: hidden; position: absolute; width: 1500px; top: 0px; left: 0px; height: 480px; transform-origin: 50% 50% 0px; z-index: 1; opacity: 1;">
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 41;">
                                <div class="HYPE_element" id="hype-obj-ZDG68YG0BW4GPYIL6COT"
                                     aria-flowto="hype-obj-XKRVSFOVZJ1ERDRJ8C96"
                                     style="pointer-events: auto; position: absolute; border-style: none; background-color: rgb(26, 36, 48); border-width: 0px; border-color: rgb(216, 221, 228); overflow: visible; z-index: 41; width: 1400px; height: 2px; transform-origin: 50% 50% 0px; transform: translateX(50px) translateY(435px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 13;">
                                <div class="HYPE_element" id="hype-obj-XKRVSFOVZJ1ERDRJ8C96"
                                     aria-flowto="hype-obj-3ZRAIF8LLAUDNQNQ8RNV"
                                     style="pointer-events: auto; position: absolute; background: url('./images/clock.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 13; opacity: 1; width: 80px; height: 80px; transform-origin: 50% 50% 0px; transform: translateX(209px) translateY(27px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 12;">
                                <div class="HYPE_element" id="hype-obj-3ZRAIF8LLAUDNQNQ8RNV"
                                     aria-flowto="hype-obj-A4CXOHF24HYDPS7TL9IC"
                                     style="pointer-events: auto; position: absolute; background: url('./images/book2.svg') no-repeat;overflow: visible; background-size: 100% 100%; display: inline; z-index: 12; opacity: 1; width: 57px; height: 93px; transform-origin: 50% 50% 0px; transform: translateX(423px) translateY(344px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 11;">
                                <div class="HYPE_element" id="hype-obj-A4CXOHF24HYDPS7TL9IC"
                                     aria-flowto="hype-obj-HPCGAU8FLC8658HY5NO3"
                                     style="pointer-events: auto; position: absolute; background: url('./images/box.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 11; opacity: 1; width: 81px; height: 38px; transform-origin: 50% 50% 0px; transform: translateX(1071px) translateY(399px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 10;">
                                <div class="HYPE_element" id="hype-obj-HPCGAU8FLC8658HY5NO3"
                                     aria-flowto="hype-obj-R9QPHC4O4HI0NYGKYBRS"
                                     style="pointer-events: auto; position: absolute; background: url('./images/bugly.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 10; opacity: 1; width: 52px; height: 72px; transform-origin: 50% 50% 0px; transform: translateX(1043px) translateY(365px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 9;">
                                <div class="HYPE_element" id="hype-obj-R9QPHC4O4HI0NYGKYBRS"
                                     aria-flowto="hype-obj-0LABLMUNEFODLM6WDTPC"
                                     style="pointer-events: auto; position: absolute; background: url('./images/dyson.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 9; opacity: 1; width: 40px; height: 140px; transform-origin: 50% 50% 0px; transform: translateX(1367px) translateY(297px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 8;">
                                <div class="HYPE_element" id="hype-obj-0LABLMUNEFODLM6WDTPC"
                                     aria-flowto="hype-obj-5FX9LAP4YWF7GRHVKHLW"
                                     style="pointer-events: auto; position: absolute; background: url('./images/locker.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 8; opacity: 1; width: 66px; height: 96px; transform-origin: 50% 50% 0px; transform: translateX(947px) translateY(341px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 7;">
                                <div class="HYPE_element" id="hype-obj-5FX9LAP4YWF7GRHVKHLW"
                                     aria-flowto="hype-obj-KNMKEH9GQD1BUE8S8ZOU"
                                     style="pointer-events: auto; position: absolute; background: url('./images/trash.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 7; opacity: 1; width: 40px; height: 47px; transform-origin: 50% 50% 0px; transform: translateX(756px) translateY(390px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 6;">
                                <div class="HYPE_element" id="hype-obj-KNMKEH9GQD1BUE8S8ZOU"
                                     aria-flowto="hype-obj-CK8CLKW06FGS4EM1YLZJ"
                                     style="pointer-events: auto; position: absolute; background: url('./images/device.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 6; opacity: 1; width: 120px; height: 56px; transform-origin: 50% 50% 0px; transform: translateX(580px) translateY(181px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 5;">
                                <div class="HYPE_element" id="hype-obj-CK8CLKW06FGS4EM1YLZJ"
                                     aria-flowto="hype-obj-3W4S7VJT79Y49YIGXVDT"
                                     style="pointer-events: auto; position: absolute;background: url('./images/book3.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 5; opacity: 1; width: 124px; height: 56px; transform-origin: 50% 50% 0px; transform: translateX(520px) translateY(273px) rotateY(0deg);"></div>
                            </div>
                            <div class="HYPE_element_container"
                                 style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; pointer-events: none; z-index: 4;">
                                <div class="HYPE_element" id="hype-obj-3W4S7VJT79Y49YIGXVDT"
                                     style="pointer-events: auto; position: absolute; background: url('./images/plant2.svg') no-repeat; overflow: visible; background-size: 100% 100%; display: inline; z-index: 4; opacity: 1; width: 62px; height: 83px; transform-origin: 50% 50% 0px; transform: translateX(75px) translateY(354px) rotateY(0deg);"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var clientHeight = $(window).height(),
            contentHeight;
        if (clientHeight < 770 || clientHeight == 770) {
            $('body').addClass('screen720');
            contentHeight = 770;
        } else {
            if (clientHeight > 770 && clientHeight < 927) {
                contentHeight = 857;
                $('body').removeClass('screen720');
            } else {
                contentHeight = clientHeight - 70;
                $('body').removeClass('screen720');
            }
        }
        $('.content').css('height', contentHeight);
        var svgBox = $('.wrap-animate');

        function svgScale() {
            var clientWidth = $(window).width();
            if (clientWidth > 1402 || clientWidth == 1402) {
                svgBox.attr('class', 'wrap-animate')
            }
            if (clientWidth < 1402 && clientWidth > 1302 || clientWidth == 1302) {
                svgBox.attr('class', 'wrap-animate animate-scale95')
            }
            if (clientWidth < 1332 && clientWidth > 1202 || clientWidth == 1202) {
                svgBox.attr('class', 'wrap-animate animate-scale9')
            }
            if (clientWidth < 1202 && clientWidth > 1102 || clientWidth == 1102) {
                svgBox.attr('class', 'wrap-animate animate-scale8')
            }
            if (clientWidth < 1102 && clientWidth > 1000 || clientWidth == 1000) {
                svgBox.attr('class', 'wrap-animate animate-scale7')
            }
            if (clientWidth < 1000 && clientWidth > 900 || clientWidth === 900) {
                svgBox.attr('class', 'wrap-animate animate-scale65')
            }
            if (clientWidth < 900 && clientWidth > 800 || clientWidth == 800) {
                svgBox.attr('class', 'wrap-animate animate-scale55')
            }
            if (clientWidth < 800) {
                svgBox.attr('class', 'wrap-animate animate-scale5')
            }
        }

        svgScale();
        $(window).resize(function () {
            svgScale();
        });
        setTimeout(function () {
            $('.wrap-info').addClass('show');
        }, 500);
    });
</script>
</body>

</html>