<!DOCTYPE html>
<html>
<head>
    <title>留言</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="礼炆说"/>
    <meta name="description" content="礼炆说"/>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="./css/blog.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/leave_word.css" media="all"/>
</head>

<body>
<div class="Yarn_Background"
     style="background-image: url(http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/backgroundimage.jpg);"></div>
<div class="navi" data-aos="fade-down">
    <div class="bt-nav">
        <div class="line line1"></div>
        <div class="line line2"></div>
        <div class="line line3"></div>
    </div>
    <div class="navbar animated fadeInRight">
        <div class="inner">
            <nav id="site-navigation" class="main-navigation">
                <div id="main-menu" class="main-menu-container">
                    <div class="menu-menu-container">
                        <ul id="primary-menu" class="menu">
                            <li id="menu-item-17"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-17">
                                <a href="/blog">首页</a>
                            </li>
                            <li id="menu-item-173"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173">
                                <a href="/journal">日志</a>
                            </li>
                            <li id="menu-item-78"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                                <a href="/album">相册</a>
                            </li>
                            <li id="menu-item-57"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57">
                                <a href="/leave_word">留言</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="hebin" data-aos="fade-down">
    <i class=" js-toggle-search iconfont">&#xe60e;</i>
</div>
<header id="masthead" class="overlay animated from-bottom" itemprop="brand" style="height: 28%">
    <div class="site-branding text-center">
        <a href="/blog">
            <figure>
                <img class="custom-logo avatar"
                     src="http://sweet-girl-bucket.oss-cn-shanghai.aliyuncs.com/omikron.png"/>
            </figure>
        </a>
        <h3 class="blog-description"><p>Liwen's Blog</p></h3>
    </div>
</header>
<section style="width: 100%; height: 60%">

</section>
<section class="input_section">
    <form class="input_form">
        <input class="input_send" style="width: 50%; border:3px solid" type="text" placeholder="准备发射弹幕..."/>
        <input type="button" value="发射" class="btn" onclick="alert('BOOM!')" style="margin-bottom: 5px">
    </form>
</section>
<footer></footer>
<script type="text/javascript" src="./js/aos.js"></script>
<script type="text/javascript" src="./js/blog.js"></script>
<script type="text/javascript" src="./js/plugins.js"></script>
<script type="text/javascript" src="./js/leave_word.js"></script>
</body>

</html>