<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.song.sweetgirl.dao.JournalDAO">
    <resultMap id="BaseResultMap" type="com.song.sweetgirl.model.Journal">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="contentDate" column="content_date" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, created_date, content_date, content
    </sql>

    <insert id="save" parameterType="com.song.sweetgirl.model.Journal" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Journal (id, created_date, content_date, content)
        VALUES(#{id}, #{createdDate}, #{contentDate}, #{content})
    </insert>

    <select id="findOne" resultMap="BaseResultMap" parameterType="Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Journal
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Journal
    </select>

    <select id="findAllByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM Journal
    </select>

    <delete id="delete" parameterType="Long">
        DELETE FROM Journal
        WHERE id = #{id}
    </delete>

</mapper>